.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #BE2A1E;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.MyHouse {
    position: absolute;
    left: 55px;
    font-weight: bold;
}

.Buy {
    position: absolute;
    right: 380px;
    font-weight: bold;
    font-size: large;
}

.Ask {
    position: absolute;
    right: 210px;
    font-weight: bold;
    font-size: large;
}

.Login {
    position: absolute;
    right: 70px;
    background-color: white;
    color: #be2c1f;
    font-weight: bold;
    padding: 14px 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.App-body {
    background-color: #eeeeee;
    min-height: 650px;
    display: grid;
}

.SearchSectionWrapper {
    margin: auto;
    width: 100%;
    max-width: 900px;
    display: grid;
}

.Block1 {
    width: 100%;
}

.Section1 {
    position: relative;
    width: 800px;
    min-height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.Block2 {
    margin: auto;
    display: grid;
    height: 100px;
    width: 720px;
    grid-template-rows: 1 1;
}

.Parameters {
    border-width: 2px;
    border-style: solid;
    border-color: #cbcbcb;
    border-radius: 10px;
}

.Parameters_wrapper {
    all: unset;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    background-color: none;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.FindContainer {
    width: 100%;
}

.Find {
    all: unset;
    position: relative;
    height: 30px;
    width: 100%;
    font-size: small;
    font-weight: bold;
    margin-top: 17%;
    color: white;
    background-color: #BE2A1E;
    border-radius: 20px;
}

.Buy2 {
    height: 100%;
    all: unset;
    display: flex;
    justify-content: left;
    font-weight: bold;
    color: #be2c1f;
}

.Parameters_wrapper>* {
    height: 100%;
    outline-width: 0px;
    border: none;
    background: none;
}